* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme */
body[data-theme="dark"] {
  --background-color: #2e2e2e;
  --text-color: #ffffff;
}

body {
  padding: 1rem 5rem 1rem 5rem;
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 1.5rem;
}

.note-app__header h1 {
  margin: 8px 0;
  flex: 1;
  color: var(--text-color);
}

.navigation ul {
  display: flex;
  height: 100%;
  gap: 1.5rem;
}

.navigation ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul li a {
  padding-top: 8px;
  font-size: 28px;
  color: var(--text-color);
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: var(--text-color);
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: var(--text-color);
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--text-color);
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}
.note-item__theme-button,
.note-item__locale-button,
.note-item__logout-button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.note-item__logout-button {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 3px;
}

.note-item__theme-button,
.note-item__logout-button {
  padding-top: 5px;
  font-size: 1rem;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.note-detail {
  margin: 3rem 5rem;
}

.note-detail__content {
  padding: 1rem 3rem;
  border: 3px solid var(--text-color);
  border-radius: 15px;
}

.note-detail__title {
  font-size: 2.3rem;
  padding: 1rem 0.5rem;
}

.note-detail__body {
  font-size: 1.75rem;
}

.note-detail__date {
  font-size: 1.3rem;
}

.note-detail__back-button,
.note-login__enter-button,
.note-regist__enter-button {
  font-size: 1rem;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: 2px 5px;
  margin: 2rem 0.5rem;
  cursor: pointer;
}

.notes-app__footer {
  border-top: 1px solid #aaa;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.loading-indicator {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  flex-direction: column;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator p {
  margin-top: 10px;
  font-size: 18px;
  color: var(--text-color);
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
